---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Cloud-Native Development",
    description:
      "Proficiency in cloud platforms like AWS, Azure, and GCP, leveraging Kubernetes and serverless architectures.",
    icon: "mdi:handshake",
  },
  {
    title: "Infrastructure as Code (IaC)",
    description:
      "Expertise in tools like Terraform and Ansible to automate scalable infrastructure management.",
    icon: "mdi:feather",
  },
  {
    title: "CI/CD Pipelines",
    description:
      "Mastery in designing and implementing efficient continuous integration and deployment workflows.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Security and Compliance Automation",
    description:
      "Integration of security best practices (DevSecOps) and policy compliance into DevOps pipelines.",
    icon: "mdi:graph",
  },
  {
    title: "Observability and Monitoring",
    description:
      "Advanced skills in tools like Prometheus, Grafana, and ELK Stack for proactive system insights.",
    icon: "mdi:search-web",
  },
  {
    title: "AI/ML in DevOps and DevSecOps",
    description:
      "Innovating DevOps and DevSecOps with AI-driven automation, predictive analytics, and self-healing systems.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Experience" id="experience">
  <Fragment slot="lead">
    Skilled in modern <span class="text-primary">evOps practices, including Infrastructure as Code,</span> I/CD pipelines, and cloud-native development. Embraces emerging trends like
    <span class="text-primary">DevSecOps, observability, and AI-driven automation</span>
    to drive innovation and <span class="text-primary">scalability</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
