---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Streamlining Secure Automation" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    Imran X Sardar drives DevOps transformation with secure automation, delivering
    <span class="text-primary">scalable</span> and 
    <span class="text-primary">efficient</span>
    solutions. <span class="text-primary">Delivering robust,</span> efficient, and compliant solutions. Contact: 
    <span class="text-primary"> mail@imranx.com</span>& imranx@onelight.uk.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://medium.com/@isardar/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the blogs</span>
    </a>
    <a
      href="https://www.linkedin.com/in/imranxs/recent-activity/articles/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Explore Articles</span>
    </a>
  </div>
</ContentSection>
