---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Projects" id="showcase">
  <Fragment slot="lead">
    Delivered diverse DevOps projects, from <span class="text-primary">automating CI/CD pipelines</span>.{" "}
    <span class="text-primary">to implementing scalable cloud-native architectures</span>. Focused on creating secure, efficient, and reliable{" "}
    <span class="text-primary">solutions tailored to business needs</span> integrating DevXOps.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="https://imranx.com">
        ...and more &rarr;
      </a>
    </p>
  </div>
</ContentSection>
